**/node_modules/

# Build artifacts
/*/lib/
/test/*/lib
/tools/*/lib
/openreader/dist/

# Large files not needed in docker containers
/test/data/chain
/test/balances/chainVersions.json

# Rush temporary files
/common/deploy/
/common/temp/
/common/autoinstallers/*/.npmrc
**/.rush/temp/

# IDE and tools
.git
.idea
*.log

# Ignore Dockerfile, so that we can work on it without full rebuild each time
Dockerfile
