# Dependency directories
node_modules/

# Tooling logs
*.log

# Our temprorary files (e.g. ad-hoc scripts)
*.temp.*

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/

# IDE
.idea

# Built js libs
*/lib
