# Dependency directories
node_modules/

# Tooling logs
*.log

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/

# IDE
.idea

# Built js libs
*/lib
