name: bump
on:
  workflow_dispatch:
    inputs:
      tag:
        description: release tag
        required: true
        type: choice
        options:
          - next
          - latest

jobs:
  bump:
    name: increase version numbers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: configure git
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'

      - name: check change files
        run: node common/scripts/install-run-rush.js change --verify --target-branch origin/${{ github.event.inputs.tag }}

      - name: bump versions
        run: node common/scripts/install-run-rush.js version --bump --target-branch origin/${{ github.event.inputs.tag }}

      - name: merge back release branch
        run: |
          git checkout "${GITHUB_REF##*/}"
          git fetch origin ${{ github.event.inputs.tag }}:release_
          git merge release_
          git push origin "${GITHUB_REF##*/}"
