name: docker
on:
  workflow_dispatch: # manually run

env:
  CI: true

jobs:
  publish:
    name: docker-publish
    runs-on: ubuntu-latest
    steps:
      - name: Docker login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@master
        with:
          use: true

      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: release/firesquid

      - name: Build and Publish
        run: ./ops/docker-publish.sh firesquid next
