name: test unit
on: [pull_request, workflow_dispatch]

jobs:
  test:
    name: run unit tests
    if: "!contains(github.event.head_commit.message, 'test skip')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: True

      - name: Install dependencies
        run: node common/scripts/install-run-rush.js install

      - name: Build project
        run: |
          node common/scripts/install-run-rush.js build
          cd cli && npx oclif manifest

      - name: Run tests
        run: node common/scripts/install-run-rush.js test
